<section id="gallery" class="wow fadeInUp">

    <div class="container">
        <div class="section-header">
            <h2>Gallery</h2>
            <p>Check our gallery from the recent events</p>
        </div>
    </div>

    <div class="owl-carousel gallery-carousel">
        <a href="{{ asset('bundles/frontend/event/img/gallery/1.jpg') }}" class="venobox"
           data-gall="gallery-carousel">
            <img src="{{ asset('bundles/frontend/event/img/gallery/1.jpg') }}" alt=""></a>
        <a href="{{ asset('bundles/frontend/event/img/gallery/2.jpg') }}" class="venobox"
           data-gall="gallery-carousel">
            <img src="{{ asset('bundles/frontend/event/img/gallery/2.jpg') }}" alt=""></a>
        <a href="{{ asset('bundles/frontend/event/img/gallery/3.jpg') }}" class="venobox"
           data-gall="gallery-carousel">
            <img src="{{ asset('bundles/frontend/event/img/gallery/3.jpg') }}" alt=""></a>
        <a href="{{ asset('bundles/frontend/event/img/gallery/4.jpg') }}" class="venobox"
           data-gall="gallery-carousel">
            <img src="{{ asset('bundles/frontend/event/img/gallery/4.jpg') }}" alt=""></a>
        <a href="{{ asset('bundles/frontend/event/img/gallery/5.jpg') }}" class="venobox"
           data-gall="gallery-carousel">
            <img src="{{ asset('bundles/frontend/event/img/gallery/5.jpg') }}" alt=""></a>
        <a href="{{ asset('bundles/frontend/event/img/gallery/6.jpg') }}" class="venobox"
           data-gall="gallery-carousel">
            <img src="{{ asset('bundles/frontend/event/img/gallery/6.jpg') }}" alt=""></a>
        <a href="{{ asset('bundles/frontend/event/img/gallery/7.jpg') }}" class="venobox"
           data-gall="gallery-carousel">
            <img src="{{ asset('bundles/frontend/event/img/gallery/7.jpg') }}" alt=""></a>
        <a href="{{ asset('bundles/frontend/event/img/gallery/8.jpg') }}" class="venobox"
           data-gall="gallery-carousel">
            <img src="{{ asset('bundles/frontend/event/img/gallery/8.jpg') }}" alt=""></a>
    </div>

</section>