{% extends ':backend:backend.html.twig' %}

{% block content %}

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success col-lg-9">
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}
    {% if app.session.flashBag.has('danger') %}
        <div class="alert alert-danger col-lg-9">
            {% for msg in app.session.flashBag.get('danger') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row" style="padding: 10px">

                        <div class="row">
                            <div class="col-md-8">
                                <div id="backend-error-box" class="alert alert-danger alert-dismissible hidden"
                                     role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <i class="fa fa-question-circle"></i>
                                    <strong>Oh snap!</strong>
                                    <p id="backend-error-text"></p>
                                </div>
                            </div>
                        </div>

                        {% block wrapper %} {% endblock %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link href="{{ asset('bundles/common/sb-admin/vendor/datatables/css/dataTables.bootstrap.css') }}" rel="stylesheet"
          type="text/css"/>

    <link href="{{ asset ('bundles/common/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker3.standalone.css') }}"
          rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="{{ asset('bundles/common/plugins/medium-editor/dist/css/medium-editor.css') }}">

    <style>
        .mt-10 {
            margin-top: 10px
        }

        .mt-20 {
            margin-top: 20px
        }

        .mb-10 {
            margin-bottom: 10px
        }

        .mb-20 {
            margin-bottom: 20px
        }

        .action-button {
            width: 100px;
        }
    </style>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/common/sb-admin/vendor/datatables/js/jquery.dataTables.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/common/sb-admin/vendor/datatables/js/dataTables.bootstrap.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/common/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"
            type="text/javascript"></script>
    <script src="{{ asset('bundles/common/plugins/medium-editor/dist/js/medium-editor.js') }}"></script>

    <script type="text/javascript">
      $(function () {
        let en_dataTable = {
          'sEmptyTable': 'No data available in table',
          "sInfo": "Showing _START_ to _END_ of _TOTAL_ entries",
          'sInfoEmpty': 'Showing 0 to 0 of 0 entries',
          'sInfoFiltered': '(filtered from _MAX_ total entries)',
          'sInfoPostFix': '',
          'sInfoThousands': ',',
          'sLengthMenu': 'Show _MENU_ entries',
          'sLoadingRecords': 'Loading...',
          'sProcessing': 'Processing...',
          'sSearch': 'Search:',
          'sZeroRecords': 'No matching records found',
          'oPaginate': {
            'sFirst': 'First',
            'sLast': 'Last',
            'sNext': 'Next',
            'sPrevious': 'Previous'
          },
          'oAria': {
            'sSortAscending': ': activate to sort column ascending',
            'sSortDescending': ': activate to sort column descending'
          }
        };

        let es_dataTable = {
          'sProcessing': 'Procesando...',
          'sLengthMenu': 'Mostrar _MENU_ registros',
          'sZeroRecords': 'No se encontraron resultados',
          'sEmptyTable': 'Ningún dato disponible en esta tabla',
          "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
          'sInfoEmpty': 'Mostrando registros del 0 al 0 de un total de 0 registros',
          'sInfoFiltered': '(filtrado de un total de _MAX_ registros)',
          'sInfoPostFix': '',
          'sSearch': 'Buscar:',
          'sUrl': '',
          'sInfoThousands': ',',
          'sLoadingRecords': 'Cargando...',
          'oPaginate': {
            'sFirst': 'Primero',
            'sLast': 'Último',
            'sNext': 'Siguiente',
            'sPrevious': 'Anterior'
          },
          'oAria': {
            'sSortAscending': ': Activar para ordenar la columna de manera ascendente',
            'sSortDescending': ': Activar para ordenar la columna de manera descendente'
          }
        };

        let actualLang = window._locale_ === 'en' ? en_dataTable : es_dataTable;

        $('.dtable').dataTable({
          bPaginate: true,
          bLengthChange: true,
          bFilter: true,
          bSort: true,
          bInfo: true,
          bAutoWidth: true,
          oLanguage: actualLang
        });

        $('.stable').dataTable({
          bPaginate: false,
          bLengthChange: true,
          bFilter: true,
          bSort: true,
          bInfo: true,
          bAutoWidth: true,
          oLanguage: actualLang
        });
      });
    </script>

    <script>
      let wysiwyg_editor = function (idHtml) {
        let editor = new MediumEditor(`#${idHtml}`, {
          toolbar: {
            buttons: ['bold', 'italic', 'underline',
              'strikethrough', 'quote', 'anchor', 'justifyLeft',
              'justifyCenter', 'justifyRight', 'justifyFull',
              'superscript', 'subscript', 'orderedlist', 'unorderedlist',
              'pre', 'removeFormat', 'outdent', 'indent', 'h2', 'h3', 'html'],
          },
          buttonLabels: 'fontawesome'
        });
      };
    </script>

{% endblock %}