{% extends ':frontend:frontend.layout.3.content.html.twig' %}

{% block footer %}

    <!--==========================
          Contact Section
        ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

        <div class="container">

            <div class="section-header">
                <h2>{{ 'contactanos' | trans }}</h2>
                <p>{{ 'contactanos_sub' | trans }}</p>
            </div>

            <div class="row contact-info">

                <div class="col-md-4">
                    <div class="contact-address">
                        <i class="ion-ios-location-outline"></i>
                        <h3>{{ 'direccion' | trans }}</h3>
                        <address> {{ conf['av_direccion'] }}</address>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h3>{{ 'telefono' | trans }}</h3>
                        <p>{{ conf['av_telefono'] }}</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h3>Email</h3>
                        <p><a href="mailto:{{ conf['av_email'] }}">{{ conf['av_email'] }}</a></p>
                    </div>
                </div>

            </div>

            <div class="form">
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form action="{{ path('frontend_contact_us') }}" method="post" role="form" class="contactForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <input type="text" name="contact-nombre" class="form-control" id="contact-nombre"
                                   placeholder="{{ 'contact.tu.nombre' | trans }}" data-rule="minlen:4"
                                   data-msg="{{ 'contact.ingrese.4.catacteres' | trans }}"/>
                            <div class="validation"></div>
                        </div>
                        <div class="form-group col-md-6">
                            <input type="email" class="form-control" name="contact-email" id="contact-email"
                                   placeholder="{{ 'contact.tu.email' | trans }}" data-rule="email"
                                   data-msg="{{ 'contact.entra.un.email.valido' | trans }}"/>
                            <div class="validation"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="contact-asunto" id="contact-asunto"
                               placeholder="{{ 'contact.asunto' | trans }}" data-rule="minlen:4"
                               data-msg="{{ 'contact.asunto.ingrese.8.caracteres' | trans }}"/>
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                            <textarea class="form-control" name="contact-texto" id="contact-texto" rows="5"
                                      data-rule="required" data-msg="{{ 'contact.escriba.algo.para.nosotros' | trans }}"
                                      placeholder="{{ 'contact.mensaje.texto' | trans }}"></textarea>
                        <div class="validation"></div>
                    </div>
                    <div class="text-center">
                        <button type="submit">{{ 'contact.enviar.mensaje' | trans }}</button>
                    </div>
                </form>
            </div>

        </div>
    </section><!-- #contact -->

    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-info">
                        <img src="{{ asset('bundles/frontend/event/img/logo.png') }}" alt="TheEvenet">
                        <p>{{ conf['av_intro_' ~ app.request.locale] }}</p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>{{ 'f.otros.enalces' | trans }}</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="{{ path('frontend_homepage') }}">Home</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="{{ path('frontend_ministerio') }}">{{ 'nav.ministerio' | trans }}</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="#">{{ 'nav.donaciones' | trans }}</a>
                            </li>
                            {#<li><i class="fa fa-angle-right"></i> <a href="#">Terms of service</a></li>#}
                            {#<li><i class="fa fa-angle-right"></i> <a href="#">Privacy policy</a></li>#}
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>{{ 'nav.servicios' | trans }}</h4>
                        <ul>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="{{ path('frontend_adoraciones') }}">{{ 'nav.adoracion.y.alabanzas' | trans }}</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="{{ path('frontend_momentos') }}">{{ 'nav.momentos.supernaturales' | trans }}</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="{{ path('frontend_ensenanzas') }}">{{ 'nav.ensenanzas' | trans }}</a>
                            </li>
                            <li><i class="fa fa-angle-right"></i>
                                <a href="{{ path('frontend_trabajo_comunitario') }}">{{ 'nav.trabajo.comunitario' | trans }}</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>{{ 'contactanos' | trans }}</h4>
                        <p> {{ conf['av_direccion'] }}<br>
                            <strong>{{ 'telefono' | trans }}:</strong> {{ conf['av_telefono'] }}<br>
                            <strong>Email:</strong> {{ conf['av_email'] }}<br>
                        </p>

                        <div class="social-links">
                            <a href="{{ conf['av_facebook'] }}" target="_blank" class="facebook"><i
                                        class="fa fa-facebook"></i></a>
                            <a href="{{ conf['av_youtube'] }}" class="youtube"><i class="fa fa-youtube"></i></a>
                            <a href="#" title="{{ conf['av_whatsapp'] }}"><i class="fa fa-whatsapp"></i></a>
                        </div>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong>{{ conf['av_powered_by_' ~ app.request.locale] }}</strong>
            </div>
            <div class="credits">
                <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=TheEvent
                -->
                Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>
        </div>
    </footer><!-- #footer -->

{% endblock %}