{% extends ':frontend:frontend.base.html.twig' %}

{% block nav %}

    <header id="header" {% if isIndex is not defined %} class="header-fixed" {% endif %}>
        <div class="container">

            <div id="logo" class="pull-left">
                <!-- Uncomment below if you prefer to use a text logo -->
                <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
                {% if isIndex is not defined %}
                    {% set home = path('frontend_homepage', {'_locale': app.request.locale}) %}
                {% else %}
                    {% set home = '#intro' %}
                {% endif %}
                <a href="{{ home }}" class="scrollto">
                    <img src="{{ asset('bundles/frontend/event/img/logo.png') }}" alt="" title=""></a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{{ home }}">{{ 'inicio' | trans }}</a></li>
                    <li><a href="{{ path('frontend_ministerio') }}">{{ 'nav.ministerio' | trans }}</a></li>
                    <li><a href="{{ path('frontend_events') }}">{{ 'nav.eventos' | trans }}</a></li>
                    <li><a href="#">{{ 'nav.donaciones' | trans }} </a></li>
                    <li>
                        <a href="#">{{ 'nav.servicios' | trans }}</a>
                        <ul class="nav-menu">
                            <li><a href="{{ path('frontend_adoraciones') }}">{{ 'nav.adoracion.y.alabanzas' | trans }}</a></li>
                            <li><a href="{{ path('frontend_momentos') }}">{{ 'nav.momentos.supernaturales' | trans }}</a></li>
                            <li><a href="{{ path('frontend_ensenanzas') }}">{{ 'nav.ensenanzas' | trans }}</a></li>
                            <li><a href="{{ path('frontend_trabajo_comunitario') }}">{{ 'nav.trabajo.comunitario' | trans }}</a></li>
                        </ul>
                    </li>
                    {#<li><a href="#">Donations</a></li>#}
                    {#<li><a href="#sponsors">Sponsors</a></li>#}
                    {#<li><a href="#contact">Contact</a></li>#}
                    {% set language = '#' %}
                    {% if app.request.locale == 'es' %}
                        {% set i18nPath = path('frontend_homepage', {'_locale' : 'en'}) %}
                        {% set language = 'English' %}
                    {% elseif app.request.locale == 'en' %}
                        {% set i18nPath = path('frontend_homepage', {'_locale' : 'es'}) %}
                        {% set language = 'Español' %}
                    {% else %}
                        {% set i18nPath = '#' %}
                    {% endif %}
                    <li class="buy-tickets"><a href="{{ i18nPath }}">{{ language }}</a></li>
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

{% endblock %}
