{% extends ':frontend:frontend.layout.1.nav.html.twig' %}

{% block header %}

    {% set defEv = getDefaultEvent() %}

    {% if defEv %}

        <section id="intro">
            <div class="intro-container wow fadeIn">
                <h1 class="mb-4 pb-0">{{ defEv.any.titulo }}</h1>
                <p class="mb-4 pb-0">{{ defEv.wherePlace }}</p>
                {#<a href="#" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>#}
                {% if defEv.youtubeUrl is not empty %}
                    <a href="{{ defEv.youtubeUrl }}" class="venobox play-btn mb-4" data-vbtype="video"
                       data-autoplay="true"></a>
                {% endif %}

                <a href="#about" class="about-btn scrollto">{{ 'f.acerca.del.evento' | trans }}</a>
            </div>
        </section>

        <!--==========================
           About Section
        ============================-->
        <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <h2>
                            <a href="{{ path('frontend_event_details_ref', {'ref' : defEv.ref}) }}">{{ 'f.acerca.del.evento' | trans }}</a>
                        </h2>
                        {{ defEv.any.texto | raw }}
                    </div>
                    <div class="col-lg-3">
                        <h3>{{ 'f.donde' | trans }}</h3>
                        <p>{{ defEv.wherePlace }}</p>
                    </div>
                    <div class="col-lg-3">
                        <h3>{{ 'f.cuando' | trans }}</h3>
                        <p>{{ 'f.inicia' | trans }}: {{ defEv.whenStart | date }}</p>
                        <p>{{ 'f.termina' | trans }}: {{ defEv.whenEnd | date }}</p>
                    </div>
                </div>
            </div>
        </section>

    {% endif %}
    <br>
    <br>
    <br>



{% endblock %}