{% extends 'BackendBundle:Nomenclature:edit.html.twig' %}

{% block wrapper_header %}

    {% if entity.el is empty %}
        <div class="row">
            <div class="col-lg-6">
                <h5>Ref Pregunta:
                    <small>{{ entity.any.pregunta }}</small>
                </h5>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h5>Ref Respuesta:
                    <small>{{ entity.any.respuesta | raw }}</small>
                </h5>
            </div>
            <br>
        </div>
    {% endif %}

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ asset('bundles/common/plugins/medium-editor/dist/css/medium-editor.css') }}">

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/common/plugins/medium-editor/dist/js/medium-editor.js') }}"></script>
    <script>
      let editor = new MediumEditor('#av_backendbundle_faq_respuesta', {
        toolbar: {
          buttons: ['bold', 'italic', 'underline', 'strikethrough', 'quote', 'anchor', 'justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull', 'superscript', 'subscript', 'orderedlist', 'unorderedlist', 'pre', 'removeFormat', 'outdent', 'indent', 'h2', 'h3', 'html'],
        },
        buttonLabels: 'fontawesome'
      });
    </script>

{% endblock %}
